@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --light-red: #fe8599;
    --medium-red: #fe4466;
    --dark-red: #773c62;
    --light-blue: #eafeff;
    --medium-blue: #c6f5fe;
    --dark-blue: #84cfff;
    --default-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
  
    --nav-bar-height: 2.8rem;  
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

body {
    color: var(--dark-red);
    margin: 0;
    padding: 0 0 calc(var(--nav-bar-height) * 2) 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: var(--medium-blue);
}

select, button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.33rem;
}

.hoverable-with-gradient {
    transition: .3s;
    border-radius: 1.11rem;
    position: relative;
}

.hoverable-with-gradient::before {
    border-radius: 1.11rem;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(17deg, rgba(132,207,255,1) 0%, 
                                       rgba(135,131,173,1) 25%, 
                                       rgba(137,80,119,1) 42%, 
                                       rgba(138,61,99,1) 50%, 
                                       rgba(139,61,99,1) 52%, 
                                       rgba(140,61,99,1) 54%, 
                                       rgba(146,62,99,1) 64%, 
                                       rgba(182,64,100,1) 77%, 
                                       rgba(254,68,102,1) 100%);
}

@media (min-width: 1280px) {
    body {
        padding: calc(var(--nav-bar-height) * 2) 0 calc(var(--nav-bar-height) * 2) 0;
    }
}
